

/* --------------------------------------
   Layout
   -------------------------------------- */
footer{ 
   background: #333; 
   color: #eee;
   font-size: 11px;
   padding: 20px;

}


/* --------------------------------------
   Typography
   -------------------------------------- */

ul.unstyled {
list-style: none;
padding:0;

}


/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput {
      width: 200px;
   }
   
    .navbar-brand {
      padding: 13px 15px;
   }

/* --------------------------------------
   Carousel
   -------------------------------------- */

#mycarousel{
   margin-top:60px;
   
}
.carousel-caption{
   font-size: 24px;
}
.carousel-caption h4{
   font-size: 32px;
}
#mycarousel .item { height:400px;}

#slide1 {
 background: url('../images/carousel_medium_01.jpg') top center no-repeat;

}

#slide2 {
 background: url('../images/carousel_medium_02.jpg') top center no-repeat;

}
#slide3 {
 background: url('../images/carousel_medium_03.jpg') top center no-repeat;

}

/*estos pertenecen a la pagina de clientes */
#slide4 {
 background: url('../images/cliente1.jpg') top center no-repeat;

}

#slide5 {
 background: url('../images/cliente3.jpg') top center no-repeat;

}
#slide6 {
 background: url('../images/cliente4.jpg') top center no-repeat;

}

#slide7 {
 background: url('../images/cliente5.jpg') top center no-repeat;

}

#slide8 {
 background: url('../images/cliente6.jpg') top center no-repeat;

}
#slide9 {
 background: url('../images/cliente7.jpg') top center no-repeat;

}

#slide10 {
 background: url('../images/cliente8.jpg') top center no-repeat;

}
/* --------------------------------------
   Global Styles
   -------------------------------------- */
img {
	
	max-width:100%;
}

.tabbable img.thumbnail {
   margin: 0 20px 10px 0;
}

.thumbnails {
   margin: 20px 0;



}

.thumbnail {
position: relative;

}

.thumbnail h3 {
font-size: 16px;
margin: 0 0 10px;
line-height: 20px;

}

.thumbnail .price{
font-size: 22px;
position: absolute;
top: -10px;
right: -10px;
padding: 10px;


}
.thumbnail .price sup{
 font-weight: normal;
 font-size: 12px;  
}

.thumbnail span.glyphicon {
   margin-right: 5px;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
   .thumbnail .price{
      font-size: 14px;

   }
   .thumbnail .price sup{
      font-size: 10px;
      
   }
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#mycarousel .item { height:310px;}

#slide1 {
 background: url('../images/carousel_small_01.jpg') top center no-repeat;

}

#slide2 {
 background: url('../images/carousel_small_02.jpg') top center no-repeat;

}
#slide3 {
 background: url('../images/carousel_small_03.jpg') top center no-repeat;

}

/*estos pertenecen a la pagina de clientes */
#slide4 {
 background: url('../images/cliente1.jpg') top center no-repeat;

}

#slide5 {
 background: url('../images/cliente3.jpg') top center no-repeat;

}
#slide6 {
 background: url('../images/cliente4.jpg') top center no-repeat;

}

#slide7 {
 background: url('../images/cliente5.jpg') top center no-repeat;

}

#slide8 {
 background: url('../images/cliente6.jpg') top center no-repeat;

}
#slide9 {
 background: url('../images/cliente7.jpg') top center no-repeat;

}

#slide10 {
 background: url('../images/cliente8.jpg') top center no-repeat;

}








.carousel-caption h4{
   font-size: 16px;
}
}

/* Large desktop */
@media (min-width: 1200px) {
	#mycarousel .item { height:500px;}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 60px;
 
}


#slide1 {
 background: url('../images/carousel_large_01.jpg') top center no-repeat;

}

#slide2 {
 background: url('../images/carousel_large_02.jpg') top center no-repeat;

}
#slide3 {
 background: url('../images/carousel_large_03.jpg') top center no-repeat;

}

/*estos pertenecen a la pagina de clientes */
#slide4 {
 background: url('../images/cliente1.jpg') top center no-repeat;

}

#slide5 {
 background: url('../images/cliente3.jpg') top center no-repeat;

}
#slide6 {
 background: url('../images/cliente4.jpg') top center no-repeat;

}

#slide7 {
 background: url('../images/cliente5.jpg') top center no-repeat;

}

#slide8 {
 background: url('../images/cliente6.jpg') top center no-repeat;

}
#slide9 {
 background: url('../images/cliente7.jpg') top center no-repeat;

}

#slide10 {
 background: url('../images/cliente8.jpg') top center no-repeat;

}

/******************efecto del transicion pagina index ************ */
  
.sp-slideshow {
    position: relative;
	margin: 10px auto;
	width: 80%;
	max-width: 1000px;
	min-width: 260px;
	height: 460px;
	border: 10px solid #fff;
	border: 10px solid rgba(255,255,255,0.9);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.sp-content {
    background: #7d7f72 url(../images/grid.png) repeat scroll 0 0;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sp-parallax-bg {
    background: url(../images/map.png) repeat-x scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sp-slideshow input {
    position: absolute;
	bottom: 15px;
	left: 50%;
	width: 9px;
	height: 9px;
	z-index: 1001;
	cursor: pointer;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.sp-slideshow input + label {
    position: absolute;
    bottom: 15px;
	left: 50%;
    width: 6px;
	height: 6px;
	display: block;
	z-index: 1000;
	border: 3px solid #fff;
	border: 3px solid rgba(255,255,255,0.9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
}
.sp-slideshow input:checked + label {
	background-color: #fff;
    background-color: rgba(255,255,255,0.9);
}

.sp-selector-1, .button-label-1 {
    margin-left: -36px;
}

.sp-selector-2, .button-label-2 {
    margin-left: -18px;
}

.sp-selector-4, .button-label-4 {
    margin-left: 18px;
}

.sp-selector-5, .button-label-5 {
    margin-left: 36px;
}

.sp-arrow {
    position: absolute;
	top: 50%;
	width: 28px;
	height: 38px;
	margin-top: -19px;
	display: none;
	opacity: 0.8;
	cursor: pointer;
	z-index: 1000;
	background: transparent url(../images/arrows.png) no-repeat;
	-webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    -o-transition: opacity linear 0.3s;
    -ms-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
}
.sp-arrow:hover{
	opacity: 1;
}
.sp-arrow:active{
	margin-top: -18px;
}
.sp-selector-1:checked ~ .sp-arrow.sp-a2,
.sp-selector-2:checked ~ .sp-arrow.sp-a3,
.sp-selector-3:checked ~ .sp-arrow.sp-a4,
.sp-selector-4:checked ~ .sp-arrow.sp-a5 {
    right: 15px;
	display: block;
	background-position: top right;
}
.sp-selector-2:checked ~ .sp-arrow.sp-a1,
.sp-selector-3:checked ~ .sp-arrow.sp-a2,
.sp-selector-4:checked ~ .sp-arrow.sp-a3,
.sp-selector-5:checked ~ .sp-arrow.sp-a4 {
    left: 15px;
	display: block;
	background-position: top left;
}

.sp-slideshow input:checked ~ .sp-content {
    -webkit-transition: background-position linear 0.6s, background-color linear 0.8s;
    -moz-transition: background-position linear 0.6s, background-color linear 0.8s;
    -o-transition: background-position linear 0.6s, background-color linear 0.8s;
    -ms-transition: background-position linear 0.6s, background-color linear 0.8s;
    transition: background-position linear 0.6s, background-color linear 0.8s;
}

.sp-slideshow input:checked ~ .sp-content .sp-parallax-bg {
    -webkit-transition: background-position linear 0.7s;
    -moz-transition: background-position linear 0.7s;
    -o-transition: background-position linear 0.7s;
    -ms-transition: background-position linear 0.7s;
    transition: background-position linear 0.7s;
}

input.sp-selector-1:checked ~ .sp-content {
    background-position: 0 0;
	background-color: #727b7f;
}

input.sp-selector-2:checked ~ .sp-content {
    background-position: -100px 0;
	background-color: #7f7276;
}

input.sp-selector-3:checked ~ .sp-content {
    background-position: -200px 0;
	background-color: #737f72;
}

input.sp-selector-4:checked ~ .sp-content {
    background-position: -300px 0;
	background-color: #79727f;
}

input.sp-selector-5:checked ~ .sp-content {
    background-position: -400px 0;
	background-color: #7d7f72;
}

input.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
    background-position: 0 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
    background-position: -200px 0;
}

input.sp-selector-3:checked ~ .sp-content .sp-parallax-bg {
    background-position: -400px 0;
}

input.sp-selector-4:checked ~ .sp-content .sp-parallax-bg {
    background-position: -600px 0;
}

input.sp-selector-5:checked ~ .sp-content .sp-parallax-bg {
    background-position: -800px 0;
}

.sp-slider {
    position: relative;
	left: 0;
    width: 500%;
	height: 100%;
	list-style: none;
    margin: 0;
	padding: 0;
    -webkit-transition: left ease-in 0.8s;
    -moz-transition: left ease-in 0.8s;
    -o-transition: left ease-in 0.8s;
    -ms-transition: left ease-in 0.8s;
    transition: left ease-in 0.8s; 
}

.sp-slider > li {
	color: #fff;
	width: 20%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	padding: 0 60px;
    float: left;
	text-align: center;
	opacity: 0.4;
    -webkit-transition: opacity ease-in 0.4s 0.8s;
    -moz-transition: opacity ease-in 0.4s 0.8s;
    -o-transition: opacity ease-in 0.4s 0.8s;
    -ms-transition: opacity ease-in 0.4s 0.8s;
    transition: opacity ease-in 0.4s 0.8s; 
}
.sp-slider > li img{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	padding: 40px 0 50px 0;
	max-height: 100%;
	max-width: 100%;
}
input.sp-selector-1:checked ~ .sp-content .sp-slider {
    left: 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-slider {
    left: -100%;
}

input.sp-selector-3:checked ~ .sp-content .sp-slider {
    left: -200%;
}

input.sp-selector-4:checked ~ .sp-content .sp-slider {
    left: -300%;
}

input.sp-selector-5:checked ~ .sp-content .sp-slider {
    left: -400%;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child,
input.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2),
input.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3),
input.sp-selector-4:checked ~ .sp-content .sp-slider > li:nth-child(4),
input.sp-selector-5:checked ~ .sp-content .sp-slider > li:nth-child(5){
	opacity: 1;
}
@media screen and (max-width: 840px){
	.sp-slideshow { height: 345px; }
}
@media screen and (max-width: 680px){
	.sp-slideshow { height: 285px; }
}
@media screen and (max-width: 560px){
	.sp-slideshow { height: 235px; }
}
@media screen and (max-width: 320px){
	.sp-slideshow { height: 158px; }
}


}